body {
    background-color:#192a1c;
    color: #f2e5ff;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 44px;
    max-width: 650px;
}

a:link {
    color:#86b3ef
}

a:visited {
    color:#c18beb
}

a:hover {
    color:#d686ef
}

a:active {
    color: hotpink
}